<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hii</h1>    
    {% for product in products %}

    {% for productimage in product.productimage_set.all %}
    <a href="{{productimage.image}}"></a>    
    <img src="{{productimage.image}}"/>
        {{productimage.image}}
    </a>
        <br/>
    {% endfor %}


    <p>{{ product.name }}</p>
    <p>{{ product.created_at }}</p>
    <!-- <img src="{{ product.main_image }}" alt=""> -->
    <p>{{ product.price }}</p>
    <p>{{ product.qty }}</p>
    <p><p>{{ product.rating }}</p></p>
    <p>{{ product.short_description }}</p>
    <p>{{ product.long_description }}</p>
    <p>{{ product.category }}</p>
    
    {% endfor %}
    {% for category in categoryList %}
    <p>{{ category.name }}</p>
    <p>{{ category.created_at }}</p>
    {% endfor %}
</body>
</html>